
          <div class="myprojects">
            <h2>Projects</h2>

            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          
              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/3dv.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="3dv.html" id="pyslam">
                  <papertitle><b>An Offline Python SLAM using COLMAP</b></papertitle></a><br>
                    Team members:
                    <b>Kexin Shi</b>,
                    <a href="https://helecomika.github.io/yidangao/">Yidan Gao</a>,  
                    <a href="https://github.com/Chiaki530">Weirong Chen</a>, 
                    <a href="https://kaikai23.github.io/">Yifei Liu</a>
                    <br>
                    Supervised by <a href="https://psarlin.com/">Paul-Edouard Sarlin</a> and <a href="https://people.inf.ethz.ch/pomarc/">Marc Pollefeys</a>
                  </p>

                  <p>              
                  <div class="project" id="pyslam">
                    <a href="3dv.html">Webpage</a> |
                    <a href="assets/pdf/3dv_poster.pdf">Poster</a> |
                    <a href="https://drive.google.com/file/d/1SUAnv6l69lDIuFu8iadkP70DrkNChG5t/view?usp=sharing">Demo</a> |
                    <a href="assets/pdf/3dv_report.pdf">Report</a> 
                    <!-- <a href="https://github.com/Chiaki530/COLMAPSLAM">Code (Open Soon)</a> -->
                  </div>
                  </p>

                  <p>
                    <div>
                      An offline python SLAM using COLMAP and ORB-SLAM which is robust, accurate, and highly extensible.
                    </div>
                  </p>
                            
              </td>
              </tr>

              <!-- <br> -->

              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/plr.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="plr.html" id="plr">
                  <papertitle><b>Monocular Markerless 6D Pose Estimation of ANYmal</b></papertitle></a><br>
                    Team members:
                    <b>Kexin Shi</b>,
                    <a href="https://ivanalberico.github.io/">Ivan Alberico</a>
                    <br>
                    Supervised by <a href="https://mavt.ethz.ch/people/person-detail.MjY0MDU2.TGlzdC81NTksLTE3MDY5NzgwMTc=.html">Jonas Frey</a>,
                     <a href="https://mavt.ethz.ch/people/person-detail.MjE4MDk1.TGlzdC81NTksLTE3MDY5NzgwMTc=.html">Victor Klemm</a>
                     and <a href="https://ethz.ch/en/the-eth-zurich/organisation/who-is-who/mavt/details.MTIxOTEx.TGlzdC8xOTEyLDEwNjE0ODE1NjU=.html">Marco Hutter</a>
                  </p>

                  <p>              
                  <div class="project" id="plr">
                    <a href="plr.html">Webpage</a> |
                    <a href="assets/pdf/plr_poster.pdf">Poster</a> |
                    <a href="https://www.youtube.com/watch?v=4saCcrD37qA">Video</a> |
                    <a href="assets/pdf/plr_report.pdf">Report</a> 
                    <!-- <a href="https://github.com/leggedrobotics/anymal_ar">Code (Open Soon)</a> -->
                  </div>
                  </p>

                  <p>
                    <div>
                      An accurate toolbox for localization and pose estimation of <a href="https://www.anybotics.com/anymal-autonomous-legged-robot/">ANYmal</a> without 
                      external sources like depth cameras or QR codes.
                    </div>
                  </p>
                            
              </td>
              </tr>

              <!-- <br> -->

              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/mp.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="pvcnn.html" id="mp">
                  <papertitle><b>Efficient Spatio-Temporal Processing of Event Data</b></papertitle></a><br>
                    Team members:
                    <b>Kexin Shi</b>,
                    <a href="https://kaikai23.github.io/">Yifei Liu</a>
                    <br>
                    Supervised by <a href="https://magehrig.github.io/">Mathias Gehrig</a>,
                     <a href="https://messikommernico.github.io/">Nico Messikommer</a>
                     and <a href="https://rpg.ifi.uzh.ch/people_scaramuzza.html">Davide Scaramuzza</a>
                  </p>

                  <p>              
                  <div class="project" id="mp">
                    <a href="pvcnn.html">Webpage</a> |
                    <a href="https://docs.google.com/presentation/d/15l7XR-bhL9id1isEamQFLmAnNOcGOvb-/edit?usp=sharing&ouid=101363749571659181238&rtpof=true&sd=true">Slide</a> |
                    <a href="assets/pdf/mp.pdf">Report</a> 
                    <!-- <a href="https://github.com/tenhearts/master_project_kexin_shi_yifei_liu">Code (Open Soon) </a> -->
                  </div>
                  </p>
                    
                  <p>
                    <div>
                      A point-voxel-based model for efficient spatio-temporal processing of event data in classification task and optical flow regression task. 
                    </div>
                  </p>
                            
              </td>
              </tr>

              <!-- <br> -->

              <!-- <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/vo.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="vo.html" id="vo">
                  <papertitle><b>Visual Odometry Pipeline</b></papertitle></a><br>
                  </p>

                  <p>              
                  <div class="project" id="vo">
                    <a href="vo.html">Webpage</a> |
                    <a href="https://www.youtube.com/watch?v=D_X7NBy5x08">Demo</a> |
                    <a href="assets/pdf/vo_report.pdf">Report</a> |
                    <a href="https://github.com/tenhearts/Visual_Odometry">Code</a>
                  </div>
                  </p>
                    
                  <p>
                    <div>
                      A complete pipeline for monocular visual odometry from scratch.
                    </div>
                  </p>
                            
              </td>
              </tr> -->

              <!-- <br> -->

              <!-- <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/dlad.jpg" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <p><a href="dlad.html" id="dlad">
                  <papertitle><b>Multi-task Learning for Autonomous Driving</b></papertitle></a><br>
                  </p>

                  <p>              
                  <div class="project" id="dlad">
                    <a href="dlad.html">Webpage</a>
                  </div>
                  </p>
                    
                  <p>
                    <div>
                      Multi-task Learning for semantic segmentation, depth estimation and 3D object detection for autonomous driving scenes. 
                    </div>
                  </p>
                            
              </td>
              </tr> -->
              
            </tbody></table>

          </div>
