
          <div class="publications">
            <h2>Publications</h2>

            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          
              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/parkour.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black"></video>
                <!-- <video autoplay loop muted playsinline controls src="assets/img/Handstand_Downstair_Handhold.mp4" alt="sym" width="90%" style="border: 1px solid #bbb; border-radius: 10px; width: 50%;"></video> -->
              </td>

                <td width="60%" valign="top">
                  <p><a href="https://extreme-parkour.github.io/" id="parkour">
                  <papertitle><b>Extreme Parkour with Legged Robots</b></papertitle></a><br>

                    <a href="https://chengxuxin.github.io/">Xuxin Cheng*</a>, <b>Kexin Shi*</b>, 
                    <a href="https://anag.me/">Ananye Agarwal</a>, 
                    <a href="https://www.cs.cmu.edu/~dpathak/">Deepak Pathak</a>
                  
                  </p>

                  <p>
                  <div>
                    CoRL 2023 Generalist / Roboletics / Deployable Workshop (Oral)
                  </div>
              
                  <div class="paper" id="parkour">
                    <!-- <a href="agileflight.html">Webpage</a> | -->
                    <!-- <a href="javascript:toggleblock('udc_abs')">abstract</a> | -->
                    <!-- <a shape="rect" href="javascript:togglebib('arma')" class="togglebib">bibtex</a> | -->
                    <!-- <a href="assets/pdf/agileflight_poster.pdf">Poster</a> | -->
                    <a href="https://extreme-parkour.github.io/">Webpage</a> |
                    <a href="assets/pdf/parkour_poster.pdf">Poster</a> |
                    <a href="https://extreme-parkour.github.io/resources/parkour.pdf">Paper</a> |
                    <a href="https://www.youtube.com/watch?v=cqvAgcQl6s4">Video</a> |
                    <a href="https://drive.google.com/file/d/1BIh2QjejtCoaxpqV63qVtmIpFY-nWVCo/view?usp=share_link">Slide</a> |
                    <!-- <a href="assets/pdf/talk.pdf">Slide(PDF)</a> | -->
                    <a href="https://github.com/chengxuxin/extreme-parkour">Code</a> |
                    <a href="https://twitter.com/pathak2206/status/1725216365840384360">Live Demo</a>
                  </div>
                  </p>

                  <p>
                    <div>
                      An end-to-end data-driven approach that can scale to the challenging task of precise and extreme parkour with onboard sensing.
                    </div>
                  </p>
              
                  <!-- <p align="justify"> <i id="udc_abs">
                    A learning-based method that achieve perception-aware, minimum-time flight in cluttered environments.
                  </i></p> -->
              
              
              </td>
              </tr>

              <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/agileflight.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black"></video>
                </td>

                <td width="60%" valign="top">
                  <p><a href="agileflight.html" id="perception-aware">
                  <papertitle><b>Learning Perception-Aware Agile Flight in Cluttered Environments</b></papertitle></a><br>

                    <a href="https://yun-long.github.io/">Yunlong Song*</a>, <b>Kexin Shi*</b>, 
                    <a href="https://scholar.google.cz/citations?user=nBkNn-EAAAAJ&hl=cs">Robert Penicka</a>, 
                    <a href="https://rpg.ifi.uzh.ch/people_scaramuzza.html">Davide Scaramuzza</a>
                  
                  </p>

                  <p>
                  <div>
                    ICRA 2023
                  </div>
              
                  <div class="paper" id="perception-aware">
                    <!-- <a href="agileflight.html">Webpage</a> | -->
                    <!-- <a href="javascript:toggleblock('udc_abs')">abstract</a> | -->
                    <!-- <a shape="rect" href="javascript:togglebib('arma')" class="togglebib">bibtex</a> | -->
                    <a href="agileflight.html">Webpage</a> |
                    <a href="assets/pdf/agileflight_poster.pdf">Poster</a> |
                    <a href="https://arxiv.org/abs/2210.01841">Paper</a> |
                    <a href="https://www.youtube.com/watch?v=9q059CFGcVA">Video</a> |
                    <a href="https://docs.google.com/presentation/d/1x6J1FSLD8-AhrI9EaM37v_Ig8_q8s_cVTJu45I8L8C4/edit?usp=sharing">Slide</a> 
                  </div>
                  </p>

                  <p>
                    <div>
                      A learning-based method that achieves perception-aware, minimum-time, vision-based flight in cluttered environments.
                    </div>
                  </p>
              
                  <!-- <p align="justify"> <i id="udc_abs">
                    A learning-based method that achieve perception-aware, minimum-time flight in cluttered environments.
                  </i></p> -->
              
              
              </td>
              </tr>
              
            </tbody></table>

          </div>
