
          <div class="personal">
            <h2>Personal</h2>

            <p>
              I spend my spare time in reading, painting and traveling. More photographs can be found in my <a href="https://www.instagram.com/teenhaci/">Instagram</a>.<br>
              Particularly, I also enjoy some thrill sports to challenge myself.
            </p>

            <!-- <table><tr>
              <td><img src=assets/img/diving.png border=0 width="101%" ></td>
              <td><img src=assets/img/snowboard.jpg border=0 width="100%" ></td>
              <td><img src=assets/img/skydiving.jpg border=0 width="100%" ></td>
              </tr></table>              
            <br> -->
            <br>  
            <div align="center"><img src="assets/img/all.JPEG" width="100%" class="center"/></div>
            <br>
            <p>
              Life is waiting us to explore more. Let's keep moving.
            </p>
          </div>
